li {
  list-style: none;
  display: inline-block;
}

p {
  font-size: 19px;
  color: #000000;
}

a {
  color: #E65C01;
  text-decoration: none;
}

.container {
  margin-left: 375px;
  margin-right: 375px;
}

.infotop {
  background-image: url("images/images/header.jpg");
  background-repeat: no-repeat;
  background-position: top;
  float: right;
  width: 100%;
  height: 375px;
  text-align: right;
}

.menublue {
  color: #124495;
}

.title1, .title2{
  color: white;
  font-size: 22px;
}

.title1 {
  background-image: url("images/images/bg-title.png");
  background-repeat: no-repeat;
}

.title2 {
  background-image: url("images/images/bg-bloc-title.png");
  background-repeat: no-repeat;
  font: uppercase;
  font-weight: bold;
}

#menu {
  width: 100%;
  font-size: 22px;
  color: #e65c01;
  display: inline-block;
  text-align: center;
  padding: 10px;
  background-color: #A6A6A6;
}

#blueband {
  width: 100%;
  background-color: #194495;
  color: white;
}

#news {
  color: #194495;
}

#partager {
  background-color: #194495;
  color: white;
}

#imgheader {
  top: 0px;
  width: 100%;
}

#txtheader {
  color: #e65c01;
  font-size: 36px;
  margin-top: 10%;
  margin-right: 10%;
}

#footer {
  width: 100%;
  background-color: #e65c01;
  color: white;
  font-size: 12px;
  text-align: center;
}
